body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

#gifContainer img {
  width: 60%;
  height: auto;
  max-height: 300px;
  object-fit: contain;
}

#messageContainer {
  font-size: 30px;
  color: #FF0000;
  text-shadow: 2px 2px 4px #000;
  margin: 20px 0;
  animation: pulse 0.5s infinite alternate;
}

.with-bg {
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semitransparente blanco */
  padding: 10px 20px;
  border-radius: 10px;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
}

#siBtn {
  background-color: #009705; /* Verde */
}

#siBtn:hover {
  background-color: #053a03;
}

#noBtn {
  background-color: #FF5733; /* Rojo */
}

#noBtn:hover {
  background-color: #641e0d;
}

.button-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}